<a routerLink=""><img id="nav-logo" src="assets/images/NuCruit.png"></a>
<app-navbar></app-navbar>

<div id="info-container">
    <img id="infographic" src="assets/images/workforce.png" alt="A photo of graduates and office workers">
    <div id="info-text">
        <h1>Post Jobs <br> on NuCruits</h1>
        <p>If you're looking to hire the young minds of tomorrow look no further. NuCruits is home to countless recent graduates and
            soon to be graduating students. Sign up so you can begin posting jobs.
        </p>
        <button (click)="goSignUp()">Sign Up</button>
    </div>
</div>