<div class="dashboard-container">
    <app-side-nav></app-side-nav>
    <div id="content">
            <div id="job-input-container">
                    <h1>Edit Job</h1>
                    <p>Job Title</p>
                    <input type="text">
                    <p>City</p>
                    <input type="text">
                    <p>State</p>
                    <input type="text">
                    <p>Responsibilities</p>
                    <textarea></textarea>
                    <p>Duties</p>
                    <textarea></textarea>
                    <p>Qualifications</p>
                    <textarea></textarea>
                    <button>Edit</button>
                </div>
    </div>
</div>


<!-- <div id="job-input-container">
    <h1>Edit Job</h1>
    <p>Job Title</p>
    <input type="text">
    <p>City</p>
    <input type="text">
    <p>State</p>
    <input type="text">
    <p>Responsibilities</p>
    <textarea></textarea>
    <p>Duties</p>
    <textarea></textarea>
    <p>Qualifications</p>
    <textarea></textarea>
    <button>Edit</button>
</div> -->