<div (click)="goToJob()" class="job-tile-container">
    <div class="job-tile-header">
        <div>
            <p>{{ title }}</p>
            <p>Company</p>
        </div>
        <img src="assets/images/NuCruit.png">
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, velit. Dolore, excepturi eveniet optio
            reprehenderit, aliquid autem deserunt amet inventore accusamus suscipit necessitatibus nihil quisquam laboriosam
            earum adipisci ea in!</p>
    <!-- <p> {{ description | slice:0:250}}</p> -->
</div>