<div *ngIf="isLoaded " class="desktop dashboard-container">
    <app-side-nav></app-side-nav>
    <div id="content">
        <textarea [(ngModel)]="postContent" (keyup.enter)="postFeed()" id="feed-input"></textarea>
        <div *ngFor="let item of feedItems">
            <app-feed-item [id]="item.id" [name]="item.name" [content]="item.content" [picture]="item.picture" [date]="item.date"></app-feed-item>
        </div>
    </div>
</div>

<div class="mobile">
    <app-mobile-navbar></app-mobile-navbar>
    
    <div id="new-post-container">
        <textarea></textarea>
        <button class="mobile-button">Post</button>
    </div>

    <div class="post-item-container" *ngFor="let item of feedItems">
        <div class="post-item">
            <div class="post-header">
                <div class="image-container">
                    <img src="{{ item.picture }}">
                </div>
                <span>
                    <p>{{ item.name }}</p>
                    <p>{{ item.date.seconds | timestamp | date:'medium' }}</p>
                </span>
            </div>
    
            <p>{{ item.content }}</p>
        </div>
    </div>
</div>