<div class="double-pane-container">
    <div id="sign-in-pane">
        <a routerLink=""><img src="assets/images/White-NuCruits-Yellow-Glass-Logo.png" alt="Yellow NuCruits logo"></a>
        <div class="input-container">
            <h1>Sign In</h1>
            <p>Email</p>
            <input [(ngModel)]="email" type="text">
            <p>Password</p>
            <input [(ngModel)]="password" type="password">
            <p id="forgot">Forgot Password?</p>
            <button (click)="signIn()">Sign In</button>
        </div>
    </div>
    <div id="info-pane">
        <h1>Welcome Back</h1>
        <p>Sign in so you can find great opportunities.</p>
    </div>
</div>