<div class="dashboard-container">
    <app-side-nav></app-side-nav>
    <div id="content">
            <input id="main-job-search-bar" type="text">
            <div id="search-options">
                <p>Sort</p>
                <p>Filter</p>
            </div>
            
            <h1 class="applications-title">Current Applications (12)</h1>
            
            <div class="tile-row-slide">
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
            </div>
            
            <h1 class="applications-title">Past Applications (12)</h1>
            
            <div class="tile-row-slide">
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
                <app-job-tile></app-job-tile>
            </div>
    </div>
</div>


<!-- <input id="main-job-search-bar" type="text">
<div id="search-options">
    <p>Sort</p>
    <p>Filter</p>
</div>

<h1 class="applications-title">Current Applications (12)</h1>

<div class="tile-row-slide">
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
</div>

<h1 class="applications-title">Past Applications (12)</h1>

<div class="tile-row-slide">
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
    <app-job-tile></app-job-tile>
</div> -->