<div class="double-pane-container">
        <div id="sign-in-pane">
            <a routerLink=""><img src="assets/images/White-NuCruits-Yellow-Glass-Logo.png" alt="Yellow NuCruits logo"></a>
            <div class="input-container">
                <p>Your Email</p>
                <input type="text">
                <p>Your Name</p>
                <input type="text">
                <p>Subject</p>
                <input type="text">
                <p>Message</p>
                <textarea></textarea>
                <button>Sign In</button>
            </div>
        </div>
        <div id="info-pane">
            <h1>Your Opinion <br> Matters</h1>
            <p>We love to hear what you think. Please leave any questions, concerns, issues, suggestions,
                 or anything in between. Or you can just tell us how much you like NuCruits.</p>
                 <img src="assets/images/networking.png">
        </div>
    </div>