<div class="desktop">
    <a routerLink=""><img id="nav-logo" src="assets/images/NuCruit.png"></a>
    <app-navbar></app-navbar>

    <div class="learn-tab">
        <div class="learn-image">
            <img src="assets/images/White-NuCruits-Yellow-Glass-Logo.png">
        </div>
        <div class="learn-info">
            <h1>What is NuCruits?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend, enim vel tincidunt sollicitudin,
                purus
                risus varius eros, nec rutrum dui sapien quis magna. Praesent condimentum in lectus at accumsan. Donec
                et
                suscipit mi. Suspendisse pellentesque mi a blandit ultricies. Etiam varius tincidunt sapien quis tempus.
                Nunc imperdiet velit arcu, vitae pharetra nulla euismod ac. Sed auctor tristique placerat. Suspendisse
                potenti. Donec luctus nibh eget urna porttitor tincidunt. Duis ac urna eu nunc egestas ultricies. Nunc
                vestibulum turpis neque, nec porttitor risus viverra nec. Nunc pharetra ac magna eu auctor. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Sed eleifend, enim vel tincidunt sollicitudin, purus risus
                varius eros, nec rutrum dui sapien quis magna. Praesent condimentum in lectus at accumsan. Donec et
                suscipit
                mi. Suspendisse pellentesque mi a blandit ultricies. Etiam varius tincidunt sapien quis tempus. Nunc
                imperdiet velit arcu, vitae pharetra nulla euismod ac. Sed auctor tristique placerat. Suspendisse
                potenti.
                Donec luctus nibh eget urna porttitor tincidunt. Duis ac urna eu nunc egestas ultricies. Nunc vestibulum
                turpis neque, nec porttitor risus viverra nec. Nunc pharetra ac magna eu auctor.</p>
        </div>
    </div>

    <div class="learn-tab">
        <div class="learn-image">
            <img src="assets/images/White-NuCruits-Yellow-Glass-Logo.png">
        </div>
        <div class="learn-info">
            <h1>What is NuCruits?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend, enim vel tincidunt sollicitudin,
                purus
                risus varius eros, nec rutrum dui sapien quis magna. Praesent condimentum in lectus at accumsan. Donec
                et
                suscipit mi. Suspendisse pellentesque mi a blandit ultricies. Etiam varius tincidunt sapien quis tempus.
                Nunc imperdiet velit arcu, vitae pharetra nulla euismod ac. Sed auctor tristique placerat. Suspendisse
                potenti. Donec luctus nibh eget urna porttitor tincidunt. Duis ac urna eu nunc egestas ultricies. Nunc
                vestibulum turpis neque, nec porttitor risus viverra nec. Nunc pharetra ac magna eu auctor. Lorem ipsum
                dolor sit amet, consectetur adipiscing elit. Sed eleifend, enim vel tincidunt sollicitudin, purus risus
                varius eros, nec rutrum dui sapien quis magna. Praesent condimentum in lectus at accumsan. Donec et
                suscipit
                mi. Suspendisse pellentesque mi a blandit ultricies. Etiam varius tincidunt sapien quis tempus. Nunc
                imperdiet velit arcu, vitae pharetra nulla euismod ac. Sed auctor tristique placerat. Suspendisse
                potenti.
                Donec luctus nibh eget urna porttitor tincidunt. Duis ac urna eu nunc egestas ultricies. Nunc vestibulum
                turpis neque, nec porttitor risus viverra nec. Nunc pharetra ac magna eu auctor.</p>
        </div>
    </div>
</div>

<div class="mobile">
    <app-mobile-navbar></app-mobile-navbar>
    <h1 id="page-title">Learn More</h1>
    <input id="learn-input" type="text" placeholder="Enter a Topic">
    <div class="mobile-learn-tab">
        <p>Terms & Conditions</p>
    </div>
    <div class="mobile-learn-tab">
        <p>Privacy Policy</p>
    </div>
    <div class="mobile-learn-tab">
        <p>Current Partnerships</p>
    </div>
    <div class="mobile-learn-tab">
        <p>How to Sign Up</p>
    </div>
    <div class="mobile-learn-tab">
        <p>FAQ'S</p>
    </div>
</div>