<div class="dashboard-container">
        <div id="side-nav">
            <img src="assets/images/White-NuCruits-Yellow-Glass-Logo.png">
            <input id="job-bar" type="text" placeholder="Enter a Job Title">
            <span><p>Feed </p><img src="assets/icons/web.svg"></span>
            <span><p>Messages </p><img src="assets/icons/envelope.svg"></span>
            <span><p>Jobs </p><img src="assets/icons/suitcase.svg"></span>
            <span><p>Sign Out </p><img src="assets/icons/logout.svg"></span>
        </div>
        <div id="content">
            <p>Content</p>
        </div>
</div>